html,
body {
  @apply bg-gray-100;
  @apply font-sans;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply text-4xl mb-1 mb-4;
}

h2 {
  @apply text-3xl mb-1 mb-3;
}

p {
  @apply leading-relaxed mt-1 mb-3;
}
